.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #eee9da;
  margin: 0px;
}

h1 {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  margin-bottom: 30px;
  font-family: poppins, sans-serif;
  font-size: 5rem;
  color: #6096b4;
  background-color: #bdcdd6;
  width: 100%;
  text-align: center;
}

p {
  font-size: 2rem;
  
  font-family: poppins, sans-serif;
  color: #6096b4;
}

button {
  font-size: 2rem;
  color: #6096b4;
  font-family: poppins, sans-serif;
  border: none;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem;
  width: 500px;
  background-color: #bdcdd6;
}

img {
  border-width: 5px;
  border-color: #6096b4;
  border-style: double;
  width: 500px;
}
